.header {
    display: flex;
}

.store-name {
    display: flex;
    width: 60%;
    height: 50px;
    background-color: #38264f;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30%;
    height: 50px;
    background-color: #38264f;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.cart-container {
    display: flex;
    width: 10%;
    height: 50px;
    background-color: #38264f;
    justify-content: center;
    align-items: center;
}

.cart_icon {
    display: flex
}